<div class="container mx-auto py-8">
    <h2 class="text-2xl font-bold mb-4">Mesas</h2>
    <div class="mb-4">
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" (click)="openModalMesa()">
            Agregar Mesa
        </button>
    </div>
    <table class="table-auto w-full">
        <thead>
            <tr>
                <th class="px-4 py-2">Número</th>
                <th class="px-4 py-2">Capacidad</th>
                <th class="px-4 py-2">Ubicación</th>
                <th class="px-4 py-2">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let mesa of mesas; let i = index;">

                <td class="px-4 py-2 text-center">{{ mesa.id }}</td>

                <td class="px-4 py-2 text-center">
                    <input type="number" [(ngModel)]="mesas[i].maxComensales" class="form-input text-center">
                </td>

                <td class="px-4 py-2 text-center">
                    <input type="text" [(ngModel)]="mesas[i].ubicacion" class="form-input text-center"
                        value="{{ mesa.ubicacion }}">
                </td>

                <td class="px-4 py-2 text-center">
                    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
                        (click)="editarMesa(mesa)">
                        Editar
                    </button>
                    <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded ml-2"
                        (click)="eliminarMesa(mesa.id)">
                        Eliminar
                    </button>
                </td>

            </tr>
        </tbody>
    </table>
</div>

<!-- Modal -->
<div class="fixed z-10 inset-0 overflow-y-auto" *ngIf="showModalMesa">
    <div class="flex items-center justify-center min-h-screen">

        <!-- Fondo oscuro -->
        <div class="fixed inset-0 bg-black opacity-50"></div>

        <div class="relative bg-white rounded-lg shadow-xl p-6 z-20">

            <h2 class="text-lg font-semibold mb-4">Crear Nueva Mesa</h2>
            <div class="mb-4">
                <label for="maxComensales" class="block">Máximo de comensales:</label>
                <input type="number" id="maxComensales" name="maxComensales" [(ngModel)]="maxComensales"
                    class="border border-gray-300 rounded px-3 py-2 w-full">
            </div>
            <div class="mb-4">
                <label for="ubicacion" class="block">Ubicación:</label>
                <input type="text" id="ubicacion" name="ubicacion" [(ngModel)]="ubicacion"
                    class="border border-gray-300 rounded px-3 py-2 w-full">
            </div>
            <div class="flex justify-end">
                <button class="px-4 py-2 bg-gray-200 text-gray-700 rounded mr-2"
                    (click)="cancelarMesa()">Cancelar</button>
                <button class="px-4 py-2 bg-blue-500 text-white rounded" (click)="guardarMesa()">Guardar</button>
            </div>

        </div>
    </div>
</div>