<div class="flex items-center justify-center
              min-h-screen bg-gray-200">
    <div class="main bg-white rounded-lg shadow-md p-10 
    transition-transform w-96 text-center">
        <h1 class="text-green-600 text-3xl">
            Restaurante Cadena
        </h1>
        <br>
        <h3 class="text-lg">
            Ingrese sus credenciales de inicio de sesión
        </h3>
        <form [formGroup]="loginForm">
            <!-- <form [formGroup]="loginForm" (ngSubmit)="login()" method="post"> -->
            <label for="email" class="block mt-4 mb-2 text-left text-gray-700 font-bold">Email:</label>
            <div *ngIf="loginForm.hasError('required', 'email') && loginForm.controls['email'].dirty"
                class="text-red-500 text-sm">El email es requerido
            </div>
            <div *ngIf="loginForm.hasError('email', 'email')" class="text-red-500 text-sm">El email es invalido
            </div>
            <input formControlName="email" type="email" id="email" name="email" placeholder="Correo Electrónico" class="block w-full mb-6 px-4 py-2 border border-gray-300 rounded-md focus:outline-none
                 focus:border-green-400" required>

            <label for="password" class="block mb-2 text-left
             text-gray-700 font-bold">Contraseña:</label>
            <div *ngIf="loginForm.hasError('required', 'password') && loginForm.controls['password'].dirty"
                class="text-red-500 text-sm">El password es
                requerido
            </div>
            <!-- <div *ngIf="loginForm.hasError('password', 'password')" class="text-red-500 text-sm">El password es invalido
            </div> -->
            <input formControlName="password" type="password" id="password" name="password" placeholder="Contraseña"
                class="block w-full mb-6 px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:border-green-400"
                required>

            <div class="flex justify-center items-center">
                <button [disabled]="loginForm.invalid" (click)="login()"
                    class="bg-green-600 text-white py-3 px-6 rounded-md cursor-pointer transition-colors duration-300 hover:bg-green-500">
                    Enviar
                </button>
            </div>
        </form>
        <p class="mt-4">¿No registrado?
            <a routerLink="/register" class="text-blue-500 
            hover:underline">Crea una cuenta</a>
        </p>
    </div>
</div>